@import url('https://fonts.googleapis.com/css?family=Lato:100,300,700');
@import 'vendor/angular-material.css';
@import 'scss/helpers/variables';
@import 'scss/helpers/mixins';
@import 'scss/helpers/grid';
@import 'scss/components/buttons';

body,
html {
    background: #f5f5f5;
    font-size: 16px;
}

.tag-wrapper{
    max-width: 800px;
    margin: 0 auto;
}